p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 240px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

input {
  padding: 0 5px 0 5px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
  height: 60px;
  text-align: center;
}

.search-form > button {
  margin-left: 15px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(145, 234, 205);
  border-color: transparent;
  font-size: 18px;
}

.search-form > button:hover,
.search-form > button:focus {
  background-color: #8dc5f2;
  border-color: rgb(7, 7, 7);
}

.gallery {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  flex-basis: calc((100% - 45px) / 4);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.info {
  display: flex;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.info-item {
  font-size: 16px;
  text-align: center;
}

.load-more {
  display: block;
  margin: 15px auto;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(7, 160, 225);
  border-color: transparent;
  font-size: 18px;
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(145, 234, 205);
  border-color: rgb(7, 7, 7);
}

.is-hidden {
  display: none;
}
